.Bubble {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid #333;
}

.Bubble img {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 8px;
}

.Bubble h1 {
    font-size: 2em;
    margin-top: 5px;
    text-align: center;
    background: white;
}
